---
import Section from "./Section.astro";
import userIcon from '../assets/icons/user.svg';
---

<Section id="about-me" title="Sobre mí" icon={ userIcon }>
    <p class="text-sm sm:text-base text-pretty">
        Soy desarrollador de software con experiencia en el <span class="text-amber-400">diseño y desarrollo de APIs,
        bases de datos relacionales, control de versiones e integración de servicios de terceros</span>. Me especializo
        en resolver problemas de forma eficiente y disfruto trabajar en equipo.
    </p>
    <p class="text-sm sm:text-base text-pretty">
        Me considero una <span class="text-amber-400">persona empática, comprometida y abierta al debate de ideas,
        </span> algo que valoro mucho porque enriquece el trabajo colaborativo. Me apasionan los nuevos desafíos y
        siempre busco aportar al logro de objetivos comunes. Me interesa seguir creciendo en el desarrollo de
        aplicaciones usando tecnologías como <span class="text-amber-400">PHP, Laravel, SQL y Git.</span>
    </p>
    <p class="text-sm sm:text-base text-pretty">
        En mi tiempo libre disfruto ver series, escuchar podcasts y seguir aprendiendo sobre herramientas y tecnologías
        que ya conozco, buscando siempre mejorar mis habilidades.
    </p>
</Section>
