---
import { Image } from 'astro:assets';
import photo from '../assets/images/profile-photo.png';
import locationIcon from '../assets/icons/location.svg';

const me = {
    photo: photo,
    name: 'Anthony Rosado',
    occupation: 'Desarrollador de software',
    location: 'Lima, Perú',
};

const accounts = [
    {
        platform: 'GitHub',
        url: 'https://github.com/anthony-rosado',
        iconSrc: '/icons/github.svg'
    },
    {
        platform: 'LinkedIn',
        url: 'https://www.linkedin.com/in/anthony-rosado-ancajima',
        iconSrc: '/icons/linkedin.svg',
    },
];
---

<section class="py-10 mx-10 smd:py-6">
    <div class="items-center md:space-x-4 text-wrap md:flex">
        <div>
            <Image src={ me.photo } alt="Anthony Rosado" loading="eager" class="size-36 rounded-full mx-auto" />
        </div>
        <div class="flex-grow text-center md:text-left">
            <h1 class="text-3xl md:text-4xl font-bold text-amber-400">{ me.name }</h1>
            <h2 class="text-lg md:text-xl text-gray-200">{ me.occupation }</h2>
            <div class="flex items-center justify-center md:justify-start text-gray-400 gap-2 mt-1">
                <Image src={ locationIcon } alt="location icon" loading="eager" class="w-5 h-5" />
                <span class="text-sm">{ me.location }</span>
            </div>
        </div>
        <div class="flex flex-row justify-center gap-4 mt-1 sm:mt-0">
            { accounts.map((account) => (
                <a
                    href={ account.url }
                    target="_blank"
                    rel="noopener noreferrer"
                    title={ account.platform }
                    class="hover:scale-110 transition-transform hover:brightness-125"
                >
                    <img src={ account.iconSrc } alt={ account.platform } loading="eager" class="size-9" />
                </a>
            )) }
        </div>
    </div>
</section>
