---
import { Image } from "astro:assets";

const { id, title, icon } = Astro.props;
---

<section id={ id } class="py-8 scroll-mt-10">
    <div class="flex items-center my-2">
        <Image src={ icon } alt="icon" loading="eager" class="size-8 mr-2" />
        <h2 class="text-3xl font-semibold tracking-tight">{ title }</h2>
    </div>
    <div class="py-4 px-4 md:px-10 space-y-6">
        <slot />
    </div>
</section>
